@text-white: #f2f2f2;
@text-black: #222;

html{
  min-height: 100%;

  body{

    background: url("../media/images/background.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;

    .panel{
      margin-top: 15%;
      background: rgba(0,0,0,0.8);
      border-radius: 0;

      h1, h2, h3, label, p, small{
        color: @text-white;
      }
    }
    #CouponSuccess{

        h3{
          font-size: 3em;
        }
    }

  }
}

